@model List<Movie>

<!DOCTYPE html>

<table class="table table-bordered">
    <thead class="fw-bold">
    <tr>
        <td>Category</td>
        <td>Title</td>
        <td>Year</td>
        <td>Director</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>LentTo</td>
        <td>CopiedToPlex</td>
        <td>Notes</td>
        <td>Actions</td>
    </tr>
    </thead>
    
    @foreach (var a in Model)
    {
        <tbody>
        <tr>
            <td>@(a.Category.CategoryName)</td>
            <td>@a.Title</td>
            <td>@a.Year</td>
            <td>@a.Director</td>
            <td>@a.Rating</td>
            <td>@a.Edited</td>
            <td>@a.LentTo</td>
            <td>@a.CopiedToPlex</td>
            <td>@a.Notes</td>

            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@a.MovieId">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@a.MovieId">Delete</a></td>
        </tr>
        </tbody>
    }
</table>